job('{{ target_environment_name }}-smoke-test-{{ platform }}') {
  description('Runs a smoke test against tsuru deployment {{ target_environment_name }} on {{ platform }}')
  {% if vagrant is defined %}
    disabled(shouldDisable = true)
  {% endif %}
  parameters {
    stringParam("DEPLOY_ENV", "{{ target_environment_name }}",
            "Indicate which environment you wish to run the test against")
    stringParam("TARGET_PLATFORM", "{{ platform }}",
            "Indicate which platform you wish to run the test against")
    choiceParam("VERBOSE", ["true", "false"],
            "Select if you want verbose output")
  }
  scm {
    git {
      remote {
	    url('https://github.com/alphagov/tsuru-ansible.git')
      }
      branch('master')
      createTag(false)
    }
  }
  triggers {
   {% if build_interval is defined %}
   cron("{{ build_interval }}")
   {% endif %}
   {% if upstream_jobs is defined %}
   {% for upstream_job in upstream_jobs %}
   upstream('{{ upstream_job }}','SUCCESS')
   {% endfor %}
   {% endif %}
  }
  wrappers {
    colorizeOutput()
    {% if build_timeout is not defined %}
    {% set build_timeout = '5' %}
    {% endif %}
    timeout {
      absolute({{ build_timeout }})
      failBuild()
    }
  }
  publishers {
  {% if vagrant is not defined %}
    mailer("{{ email_notification_address | default("the-multi-cloud-paas-team@digital.cabinet-office.gov.uk")}}")
  {% endif %}
  }
  steps {
    shell('''#!/bin/bash
. ~/.tsuru_credentials

virtualenv .venv
. .venv/bin/activate
pip install -Ur requirements.txt

. /etc/profile.d/rvm.sh
rvm use --create 2.2.2@tsuru-ansible

make test-${TARGET_PLATFORM}
''')
  }
}
